body::-webkit-scrollbar {
  width: 8px;
  border-radius: 15px;
}

body::-webkit-scrollbar-thumb {
  width: 7px;
  @apply bg-primary;
}

body::-webkit-scrollbar-track {
  widows: 5px;
  @apply bg-gray-100;
}

body,
#navbar {
  transition: 0.7s ease-in-out;
}

body.modal-open {
  overflow: hidden;
}

a,
button {
  @apply cursor-pointer;
}

#navbar {
}

.section {
  @apply container mx-auto w-9/12;
}

.section-fluid {
  @apply w-full;
}

.center-content {
  @apply flex items-start justify-start;
}

.screen-one-bg {
  background: url("../images/styled-background.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#navbar-mobile {
  max-height: 0;
  overflow: hidden;
  transition: 0.7s ease-in-out;
}

#navbar-mobile.open {
  max-height: 100%;
  overflow: auto;
}

.mobile-content {
  max-height: 0;
  overflow: hidden;
  transition: 0.7s ease-in-out;
}

.mobile-content.open {
  max-height: 100%;
  overflow: auto;
}
