body::-webkit-scrollbar {
  width: 8px;
  border-radius: 15px;
}

body::-webkit-scrollbar-thumb {
  width: 7px;
  @apply bg-primary;
}

body::-webkit-scrollbar-track {
  widows: 5px;
  @apply bg-gray-100;
}

a, button{
  @apply cursor-pointer;
}


#navbar{
  
}

.section {
  @apply container mx-auto w-9/12;
}

.section-fluid{
  @apply w-full;
}

.center-content{
  @apply flex items-start justify-start;
}

.screen-one-bg{
  background: url('../images/styled-background.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}